@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #fff;
    color: #333;
}

.container, .bb-custom-wrapper, .bb-bookblock {
    width: 100%;
    height: 100%;
}

.bb-item {
    display: flex;
    flex-direction: column; /* Stacks vertically on mobile */
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.cover-image-container {
    width: 100%; /* Full width on mobile */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-image-container img {
    width: 100%; /* Ensures the image covers the container on mobile */
    height: auto;
    object-fit: cover; /* Covers the height of the container, maintain aspect ratio */
}

.cover-text {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Includes padding within the width calculation */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .bb-item {
        flex-direction: row; /* Side by side layout for desktop */
    }

    .cover-image-container, .cover-text {
        width: 50%; /* Each takes half the screen on desktop */
        height: 100vh; /* Full height of the viewport */
        justify-content: flex-start; /* Aligns content to the start of the flex container */
    }

    .cover-image-container img {
        width: auto; /* Width is auto to maintain natural aspect ratio */
        height: 100%; /* Full height to fill the container */
        object-fit: contain; /* Ensures the image is fully visible without cropping */
    }

    .cover-text {
        align-items: center; /* Vertically centers the text in the container */
        justify-content: center; /* Horizontally centers the text */
        text-align: left; /* Aligns the text to the left */
    }
}

.menu-panel {
    background: #f1103a;
    width: 240px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.menu-panel h3 {
    font-size: 1.8em;
    padding: 20px;
    color: #fff;
}

.menu-toc li a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    line-height: 3.5;
    padding: 0 20px;
    background: #f1103a;
    border-bottom: 1px solid #dd1338;
}

.menu-toc li a:hover, .menu-toc li.menu-toc-current a {
    background: #dd1338;
}

.bb-custom-wrapper nav span, .menu-button {
    background: #f1103a;
    color: #fff;
}

.bb-custom-wrapper nav span:hover, .menu-button:hover {
    background: #000;
}
